h1 {
    background: bisque;
    text-align: center;
}

h2{
    background: powderblue;
}
h3,
table th{
    background: lightsteelblue;
}

div div{
    border-style: solid;
}

div h3 {
    border: thin;
    /*width: 25%;*/
}